@model ApplicationUser

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">
        
           Hi @User.Identity.Name!! You are our Valued Customer
        
    </h1>
  
</div>





